:root {
    --main-container-bg-color: #eee;
    --main-border-color: #628DB6;
    --main-solution-color: #c9f0dd;
    --main-card-bg-color: whitesmoke;
    --hover-color: rgb(175, 175, 175);
    --comment-color: rgb(125, 225, 255);
    --comment-color-hover: rgb(79, 209, 248);
    --dangerous-color: #FF4040;
}

#top-menu{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-between;
}

.btn-home{
    margin: 0;
    padding: 0;
    display: flex;
    border:1px solid var(--main-border-color);
    height: 30px;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
}

.btn-home::before{
    content: url('https://api.iconify.design/material-symbols/garage-home-outline.svg?width=25');
}

.btn-home:hover{
    cursor: pointer;
    background-color: var(--hover-color);
}

#problems-search{
    background: url('https://api.iconify.design/ic/baseline-search.svg') no-repeat center center / contain;
    background-position: 5px 0px;
    width: 50%;
    height: 10px;
    font-size: 14px;
    padding: 10px 0px 10px 40px;
    border: 1px solid var(--main-border-color);
    position: relative;
}

.problem-container{
    display: flex;
    background-color: var(--main-container-bg-color);
    padding: 5px;
    border: 1px solid var(--main-border-color);
    border-radius: 3px;
    flex-direction: column;
    gap: 10px;
}

.problem{
    display: flex;
    width: 350px;
    background-color: var(--main-card-bg-color);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.problem-name a{
    border-bottom: 1px solid var(--main-border-color);
}

.problem-solution{
    background-color: var(--main-solution-color);
    min-height: 80px;
    padding: 5px;
}

.symptoms-container{
    background-color: var(--main-border-color);
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.symptom{
    background-color: var(--main-card-bg-color);
    margin: 5px;
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;    
}

.symptom-name{
    font-size: larger;
}

/* comments */

.comment-tree{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    background-color: var(--main-container-bg-color);
    justify-content: center;
    flex-direction: column;
}

.mb-6{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}

.username, .comment-author{
    padding-left: 20px;
    background-color: var(--main-border-color);
    color: white;
    font-size: larger;
}

#id_body{
    width: 100%;
    box-sizing: border-box;
    min-height: 60px;
    resize: none;
    word-wrap: break-word;
    overflow: hidden;
    border: none;
    font-size: 16px;
    border-radius: 10px;
}

.control{
    display: flex;
    justify-content: flex-end;
}

.comment-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.comment-body{
    min-height: 60px;
    padding: 5px;
    background-color: white;
    border-bottom:1px solid var(--main-border-color);
    white-space: pre-line;
}

.comment-footer{
    display: flex;
    min-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    background-color: white;
}

.comment-footer > *{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.likes, .dislikes{
    cursor: pointer;
}

.likes::before{
    content: url('https://api.iconify.design/uiw/like-o.svg');
}

.likes.selected::before{
    content: url('https://api.iconify.design/uiw/like-o.svg?color=green');
}

.dislikes::before{
    content: url('https://api.iconify.design/uiw/dislike-o.svg');
}

.dislikes.selected::before{
    content: url('https://api.iconify.design/uiw/dislike-o.svg?color=red');
}

.comment-edit{
    cursor: pointer;
    background-color: var(--comment-color);
    border-radius: 50%;
    padding: 8px;
    text-align: center;
}

.comment-edit:hover{
    background-color: var(--comment-color-hover);
}

.comment-delete{
    cursor: pointer;
    background-color: var(--dangerous-color);
    color: white;
    width: 80px;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

.comment-delete:hover{
    background-color: #ff0909;
}